
#loginCont{margin-top:10%;}
#logo {
	font-size:40px;
	margin-bottom:10px;
	font-weight:normal;
}
#logo small {
	font-size:30px;
}
.container{text-align:center;}
.inner{width:240px;margin: 0 auto;}
.entry{
		margin-bottom:15px;
		border: thin solid black;
		width: 250px;
		padding: 10px;
	}
	   .add-on i {
   	color: grey;
   } 
   .form-actions{
   	background: white;
   }
